.vs/
.idea/

Pak/
Binaries/
Build/
/Content/

DerivedDataCache/
Intermediate/
Platforms/

Plugins/*/Binaries/*
Plugins/*/Intermediate/*

Plugins/GameFeatures/ShooterCore/*
Plugins/GameFeatures/ShooterExplorer/*
Plugins/GameFeatures/ShooterMaps/*
Plugins/GameFeatures/ShooterTests/*
Plugins/GameFeatures/TopDownArena/*

Plugins/GameFeatures/EggTowerPlan/Binaries
Plugins/GameFeatures/EggTowerPlan/Intermediate

Saved/

*.sln